    <footer class="footer">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">

          <div class="text-center">
            <%- partial('_partial/_sns') %>
            <p class="mb-4"></p>
            <%- partial('_partial/_copyright') %>
          </div>

        </div>
      </div>
    </div>
      
    </footer>

    <%- partial('_partial/insight') %>
    
    <%- js('assets/js/libs.min') %>
    <%- js('assets/js/main.min') %>
  </body>
</html>
