<%- partial('_partial/header') %>

<header class="header mb-5">
<div class="container">
<div class="row justify-content-center">
  <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">

      <%- partial('_partial/nav') %>

      <div class="info info-class">
        <h1>ARCHIVES</h1>
        <p class="lead">归档</p>
        <div>
          <dl class="tags">
          <%- partial('_partial/_archives') %>
          </dl>
        </div>
      </div>
  </div>
</div>
</div>
</header>

<div class="container">
<div class="row justify-content-center">
  <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">

    <div>
    <% var lastDate = null %>
    <% site.posts.sort('date', -1).each(function(post, i) { %>
        <% var currentDate = post.date.year() %>
        <% if(currentDate != lastDate) { %>
            <% if(i != 0) { %>
            </ul>
            </div>
            <% } %>
            <div class="mb-4">

            <a name="<%= currentDate %>"></a>
            <h4><%= currentDate %></h4>

            <ul>
            <% lastDate = currentDate %>
        <% } %>
        <li>
          <p><a href="<%- url_for(post.path) %>"><%= post.title %></a><small class="italic text-secondary ml-2"><%- date(post.date) %></small></p>
        </li>
        <% if(i == (site.posts.length - 1)) { %>
        </ul>
        </div>
        <% } %>
    <% }) %>
    </div>
      
  </div>

  <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
    <%- partial('_partial/tags') %>
    <%- partial('_partial/categories') %>
  </div>
</div>
</div>

<%- partial('_partial/footer') %>