<%- partial('_partial/header') %>
  
<header class="header mb-5">
<div class="container">
<div class="row justify-content-center">
  <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">

      <%- partial('_partial/nav') %>

      <div class="info">
        <h1>^_^</h1>
        <p class="lead"><%= config.subtitle %></p>
      </div>
  </div>
</div>
</div>
</header>

<div class="container">
<div class="row justify-content-center">
  <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">

<% page.posts.each(function(post, i){ %>
  <div class="mb-5">
      <h4><a href="<%- url_for(post.path) %>"><%= post.title %></a></h4>

      <div class="text-secondary mb-3">
        <div class="italic mb-2">By <%= config.author %>, Created at <%- date(post.date) %><% if(post.updated){ %>, Updated at <%- date(post.updated) %><% } %></div>
        
        <% if (post.tags && post.tags.length){ %>
        <dl class="tags mb-1">
            <dt>Tags:</dt>
            <% post.tags.each(function(tag, i){ %>
              <dd><a href="<%- url_for(config.tag_dir + '/#' + tag.name) %>"><%= tag.name %></a></dd>
            <% }) %>
        </dl>
        <% } %>

        <% if (post.categories && post.categories.length){ %>
        <dl class="tags mb-1">
            <dt>Categories:</dt>
            <% post.categories.each(function(category, i){ %>
              <dd><a href="<%- url_for(config.category_dir + '/#' + category.name) %>"><%= category.name %></a></dd>
            <% }) %>
        </dl>
        <% } %>
      </div>

      <article class="article mb-5">
        <section>
          <% if (post.excerpt){ %>
            <%- post.excerpt %>
          <% } else { %>
            <%- post.content %>
          <% } %>
        </section>
      </article>

      <div class="mt-4">
          <a href="<%- url_for(post.path) %>" class="btn btn-sm btn-outline-primary">READ MORE</a>
      </div>
  </div>
<% }) %>

<%- partial('_partial/_paginator') %>

  </div>

  <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">

    <%- partial('_partial/tags') %>
    <%- partial('_partial/categories') %>
    <%- partial('_partial/archives') %>
    
  </div>
</div>
</div>

<%- partial('_partial/footer') %>