<%- partial('_partial/header') %>

<header class="header mb-5">
<div class="container">
<div class="row justify-content-center">
  <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">

      <%- partial('_partial/nav') %>

      <div class="info info-class">
        <h1>TAGS</h1>
        <p class="lead">标签</p>
        <div>
          <dl class="tags">
          <%- partial('_partial/_tags') %>
          </dl>
        </div>
      </div>
  </div>
</div>
</div>
</header>

<div class="container">
<div class="row justify-content-center">
  <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">

    <div>
    <% site.tags.each(function(tag, i) { %>
      <div class="mb-4">
        <a name="<%= tag.name %>"></a>
        <h4><%= tag.name %></h4>
        <ul>
        <% tag.posts.sort('date', -1).each(function(post, i) { %>
        <li>
          <p><a href="<%- url_for(post.path) %>"><%= post.title %></a><small class="italic text-secondary ml-2"><%- date(post.date) %></small></p>
        </li>
        <% }) %>
        </ul>
      </div>
    <% }) %>
    </div>
      
  </div>

  <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
    <%- partial('_partial/categories') %>
    <%- partial('_partial/archives') %>
  </div>
</div>
</div>

<%- partial('_partial/footer') %>